.my-booked-services-container {
    max-width: 1440px;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    /* background: #d1d1d1; */
    margin-bottom: 25px;
  }
  
  .my-bookings-title {
    margin-left: 50px;
  }

  .tabs button {
    background-color: #4caf50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  

  .tabs button.active {
    background-color: #008CBA; 
  }
  
  .upcoming-my-bookings-service-container,
  .previous-my-bookings-service-container {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .booking-name-and-billing,
  /* .booking-information, */
  .booking-action-buttons,
  .booking-status-review {
    flex: 1;
    padding: 20px;
  }
  
  .booking-name-and-billing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
  }
  
  .booking-information {
    width: 27%;
  }
  
  .booking-action-buttons {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-around;
  }
  
  .booking-status-review {
    width: 20%;
  }
  
  .date-time-wrapper,
  .status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
  
  .update-time button {
    background-color: #28a745 !important;
  }
  
  .booking-billing-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .update-buttton {
    background-color: #28a745;
    color: #fff;
    padding: 5px;
    border: none;
    font-size: 14px;
  }
  
  .delete-button {
    margin-top: 20px;
  }
  
  .upcoming-my-bookings-service-container {
    border: 4px solid #e0f7fa;
    background-color: transparent;
  }
  
  .previous-my-bookings-service-container {
    background-color: #feede7; 
  }

  .update-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .upcoming-my-bookings-service-container > * {
    border-right: 1px solid #000;
    padding-right: 40px;
  }

  .delete-review-btn{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .update-review-btn{
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }

  .billing-details-btn{
    border: none;
  }

  @media (max-width: 1440px) {
    .upcoming-my-bookings-service-container > * {
      border-right: 1px solid #000;
      padding-right: 20px;
    }
  }

  @media (max-width: 1340px) {
    .upcoming-my-bookings-service-container > * {
      border-right: 1px solid #000;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 768px) {
    .upcoming-my-bookings-service-container,
    .previous-my-bookings-service-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .upcoming-my-bookings-service-container > * {
      border-right: none;
      padding-right: 0px;
    }
  
    .booking-name-and-billing,
    .booking-information,
    .booking-action-buttons,
    .booking-status-review {
      width: 100%;
    }
  }
  