.footer {
  display: flex;
  justify-content: space-around;
  background-color: #5d3d2f;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.column {
  text-align: center;
  margin: 10px;
}

.column a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

.column a:hover {
  text-decoration: underline;
}

body {
  margin: 0; /* Reset default margin */
}
