.profile-dropdown {
  position: absolute;
  top: 110px;


  z-index: 1;

  right:20px;

}

.hidden {
  display: none;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation-logo {
  width: 40%;
  margin: 20px
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
