.profile-dropdown {
  position: absolute;
  top: 110px;
  right:20px;
}

.hidden {
  display: none;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-logo {
  width: 40%;
  margin: 20px
}
