.profile-dropdown{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
    border: 1px solid rgb(164, 164, 164);
    padding: 20px;

}

.profile-image{
    width: 400%;
    border-radius: 50%;

}

.profile-button{
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(201, 201, 201);

}

.profile-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-button_user-info{
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.profile-button_user-info >*:hover{
    color: #000;
}
