.service-detail-container__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;

}

.service-detail-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;

}

.service-detail-background-image-container {
  text-align: center;
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  height: auto;
  border: 1px solid #ccc;
  /* border-radius: 10px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.service-detail-background-image-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.service-detail-background-image-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.navigation-info {

  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.breadcrumbs {
  text-decoration: none;
  font-size: 16px;
  color: #543B23;

}

.service-details {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-self: center;
  justify-self: center;
  /* text-align: left; */
  margin-top: 20px;
  background: #DFDFD4;
  color: #543B23;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.service-detaild-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.service-detail-header {
  color: #fff;
}

.service-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-details p {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service-description {
  margin-right: 20px;
}

.truncated-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Number of lines you want to show */
  -webkit-box-orient: vertical;
}

.description-toggle__btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  color: #543B23;
  margin-left: 0;
  padding-left: 0;
  text-decoration: underline;
}

.service-details__price {

  background-color: #81BE1C;
  padding: 10px;
  padding-left: 30px;
  align-self: flex-end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  position: relative;
}

.service-details__price::before {
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  background-color: #DFDFD4;
  position: absolute;
  transform: translate(-53px, -9px) rotate(45deg);

}


.service-details img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 7px;
}

.reviews-section {
  text-align: left;
  margin-top: 20px;
}

.reviews-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Booking Modal Styles */
.booking-modal {
  text-align: center;

}

.booking-modal h2 {
  font-size: 18px;
  margin-bottom: 10px;

}

.booking-modal input {
  /* width: 100%; */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.booking-modal button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

}

.booking-modal button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/* Reviews Section */
.reviews-section {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.no-review-text{
  background-color: #81BE1C;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  position: relative;
  max-width: 300px;
}

.review {
  display: flex;

  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.review:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.review-date{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.review p {
  margin: 5px;
}

.review img {
  max-width: 60%;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 10px;
}

.review img:hover {
  cursor:nesw-resize;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  
}

.navigation-info {
  text-align: left;
}

.service-details__img {

  display: flex;
  flex: 1 1;
  max-width: 100%;
  height: auto;
  color: #000;
  flex-direction: column;
  justify-content: space-between;
}

.average-rating{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.average-rating h2{
  margin-right: 20px;
}

.star-rating {
  color: rgb(255, 204, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1049; 
  display:block; 
}

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px !important;
  height: 300px!important;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Ensure it's above other content */
}

/* Close icon styling */
.close-icon {
  position: fixed;
  top: 37%;
  left: 59%;
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
  z-index: 1051;
}

.review-owner{
  font-style: italic;
}


@media (max-width: 705px) {
  .service-description {
    margin-right: 20px;
  }

  /* .truncated-description {
    overflow: visible;
    text-overflow: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  } */
}

@media (max-width: 670px) {
  /* .service-description {
     margin-right: 20px;
     background-color: #007bff;
   } */

   .service-detaild-description{
    width: 100%;
   }

  .truncated-description {
    /* overflow: visible; */
    text-overflow: none;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    /* background-color: #007bff; */
    width: 100%;
  }

  .service-details{
    flex-direction: column;
  }

  .service-details__img{
    width: 80%;
    align-self: center;
  }

  .booking-modal input{
    margin-top: 20px;
    width: 90%;
  }

}


@media (max-width: 420px) {
  .review {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-date{
    font-size: 11px;
  }
  
}
